.importDevice {
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    .productTypeInput {
        width: 200px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    } 
    .imeisInput {
        width: 30%;
        min-width: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;

    }
}