ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  .ant-spin-nested-loading {
    height: 100%;
    .ant-spin-container {
        height: 100%;
    }
}
.bms {
    background-color: #fff;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    background-color: rgb(27,53,78);
    color: #ddd;
    overflow: auto;
    position: relative;
    
    .selectDevice {
        padding: 5px 0px;
        height: 42px;
        width: 100%;
        float: left;
        .title {
            margin-right: 10px;
        }
    }
    .tab {
        padding-top: 42px;
        box-sizing: border-box;
        .ant-tabs-bar {
            margin-bottom: 0px;
        }
        .bmsContent {
            color: #fff;
            float: left;
            width: 100%;
            z-index: 99;
            .version {
                background-color: rgb(43, 71, 93);
                height: 373px;
                box-sizing: border-box;
                .header {
                    border-bottom: 1px solid #999;
                    height: 40px;
                    line-height: 40px;
                    font-size: 12px;
                    padding: 0px 15px;
                    box-sizing: border-box;
                }
                .specifics {
                    padding: 10px;
                    color: #ddd;
                    font-size: 14px;
                    .sp {
                        display: inline-block;
                        height: 15px;
                        width: 3px;
                        background-color: rgb(175, 175, 68);
                        vertical-align: middle;
                        margin-right: 3px;
                    }
                    
                    
                    .top {
                        .hardware {
                            .isDischarge {
                                margin-top: 10px;
                                margin-bottom: 10px;
                                .circle {
                                    display: inline-block;
                                    height: 12px;
                                    width: 12px;
                                    border-radius: 50%;
                                    vertical-align: middle;
                                    &.red {
                                        background-color: red;
                                    }
                                    &.green {
                                        background-color: rgb(130, 205,88);
                                    }
                                }
                                .dischargeTxt {
                                    margin-left: 10px;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                    .bottom {
                        margin-top: 10px;
                        
                        .batteryParam {
                           
                            .batteryRow {
                                +.batteryRow {
                                    margin-top: 10px;
                                }
                                span {
                                    font-size: 14px;
                                    color: #ddd;
                                    i.title {
                                        font-style: normal;
                                        line-height: 24px;
                                        color: #ddd;
                                        font-size: 12px;
                                        padding-left: 5px;
                                    }
                                    &.data {
                                        font-size: 14px;

                                        vertical-align: middle;
                                    }
                                }
                            }
                            

                            .batteryParamTop {}
                        }
                        .temperature {
                            span {
                                line-height: 24px;
                                height: 24px;
                                display: inline-block;
                                i  {
                                    width: 12px;
                                    height: 12px;
                                    display: inline-block;
                                    border-radius: 50%;
                                    vertical-align: baseline;
                                    margin-right: 15px;
                                    line-height: 24px;
                                    &.red {
                                        background-color: red;
                                    }
                                    &.green {
                                        background-color:green;
                                    }
                                }
                            }
                            
                        }
                    }
                }
                
            }
            .currentGraph {
                margin-left: 10px;

                height: 373px;
                margin-left: 10px;
                background-color: rgb(43, 71, 93);
                padding: 0 10px;
                box-sizing: border-box;
                .graphTop {
                    border-bottom: 1px solid #999;
                    height: 50%;
                }
                .voltageBox, .currentBox, .capacityBox, .socBox {
                    float: left;
                    width: 50%;
                }
            }
            .alarmAndData {
                height: 373px;
                margin-left: 10px;
                
                >div {
                    width: 100%;
                    height: 181px;
                background-color: rgb(43, 71, 93);
                padding: 5px 10px;
                box-sizing: border-box;

                }
                .alarm {
                    color: #ddd;
                    position: relative;
                    padding-top: 31px;
                    padding-bottom: 5px;
                    box-sizing: border-box;
                    header {
                        height: 21px;
                        padding-left: 10px;
                        line-height: 21px;
                        font-size: 14px;
                        position: absolute;
                        left: 0px;
                        top: 0;
                        width: 100%;
                        z-index: 5;
                        background-color: #fff;
                        background-color: rgb(43, 71, 93);
                        .sp {
                            display: inline-block;
                            height: 17px;
                            width: 5px;
                            background-color: rgb(90,165, 227);
                            vertical-align: middle;
                            margin-right: 10px;
                        }
                        span {
                            vertical-align: middle;
                        }
                    }
                    ul {
                        li {
                            float: left;
                            width: 25%;
                            text-align: center;
                            margin-bottom: 8px;
                            span {
                                box-sizing: content-box;
                                font-size: 12px;
                                padding: 2px 10px;
                                background-color: rgb(114, 158, 95);
                                &.notice {
                                    background-color: rgb(215, 91,91);
                                }
                                
                            }
                        }
                    }
                }
                .protectedData {
                    color:#333;
                    color: #ddd;
                    margin-top: 11px;
                    position: relative;
                    padding-top: 26px;
                    padding-bottom: 5px;
                    box-sizing: border-box;
                    header {
                        height: 21px;
                        padding-left: 10px;
                        line-height: 21px;
                        font-size: 14px;
                        position: absolute;
                        left: 0px;
                        top: 0;
                        width: 100%;
                        z-index: 99;
                        background-color: #fff;
                        background-color: rgb(43, 71, 93);
                        .sp {
                            display: inline-block;
                            height: 17px;
                            width: 5px;
                            background-color: rgb(90,165, 227);
                            vertical-align: middle;
                            margin-right: 10px;
                        }
                        span {
                            vertical-align: middle;
                            &.powerOn, &.powerOff {
                                color: rgb(150, 180, 235);
                                float: right;
                                margin-right: 5px;
                            cursor: pointer;

                            }
                        }
                        
                        .setParams {
                            float: right;
                            margin-right: 15px;
                            color: rgb(150, 180, 235);
                            cursor: pointer;
                        }
                    }
                    ul {
                        box-sizing: border-box;
                        overflow: auto;
                        height: 100%;
                        padding-left: 15px;
                        &::-webkit-scrollbar {
                            width: 8px;
                        }
                            &::-webkit-scrollbar-track {
                            background-color: rgb(27,53,78);
                            -webkit-border-radius: 2em;
                            -moz-border-radius: 2em;
                            border-radius:2em;
                        }
                            &::-webkit-scrollbar-thumb {
                            background-color:rgb(62, 112, 121);
                            -webkit-border-radius: 2em;
                            -moz-border-radius: 2em;
                            border-radius:2em;
                            height: 20px;
                            }
                        li {
                            width: 50%;
                            float: left;
                            font-size: 12px;
                            margin-bottom: 3px;
                            .title {
                                min-width: 130px;
                                display: inline-block;
                                text-align: right;
                            }

                            .data {
                                display: inline-block;
                                color: rgb(150, 180, 235);
                                width: 50px;
                                text-align: center;
                                background-color: rgb(28, 54, 78);
                            }
                            .unit {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
        .bmsContentBottom {
            padding-top: 383px;
            height: 583px;
            box-sizing: border-box;
            .lineGraph {
                background-color: rgb(43, 71, 93);
                .voltageGraph {
                    width: 100%;
                    height: 100px;
                }
            }
            
            .singleBatteryStatus {
                height: 100%;
                background-color:  rgb(43, 71, 93);
                padding-top: 40px;
                margin-left: 20px;
                padding-bottom: 10px;
                box-sizing: border-box;
                header {
                    height: 40px;
                    padding-left: 10px;
                    line-height: 40px;
                    font-size: 14px;
                    position: absolute;
                    left: 0px;
                    top: 0;
                    width: 100%;
                    z-index: 99;
                    background-color: rgb(43, 71, 93);
                    color: #ddd;
                    .sp {
                        display: inline-block;
                        height: 17px;
                        width: 5px;
                        background-color: rgb(90,165, 227);
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                    span {
                        vertical-align: middle;
                    }
                }
                ul {
                    box-sizing: border-box;
                    overflow: auto;
                    width: 90%;
                    display: inline-block;
                    height: 100%;
                    &::-webkit-scrollbar {
                        width: 8px;
                    }
                        &::-webkit-scrollbar-track {
                        background-color: rgb(27,53,78);
                        -webkit-border-radius: 2em;
                        -moz-border-radius: 2em;
                        border-radius:2em;
                    }
                        &::-webkit-scrollbar-thumb {
                        background-color:rgb(82, 168, 242);
                        -webkit-border-radius: 2em;
                        -moz-border-radius: 2em;
                        border-radius:2em;
                        height: 10px;
                        }
                    li {
                        float: left;
                        width: 25%;
                        background: url("./../../asset/images/battery.png") no-repeat center center;
                        background-size: 70px 70px;
                        height: 40px;
                        text-align: center;

                        .percentage {
                            display: inline-block;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    }
    
}
.ant-modal.setProtectedData {
    width: 600px!important;
    .ant-modal-body {
        ul {
            li {
                float: left;
                width: 50%;
                margin-bottom: 10px;
                .title {
                    width: 145px;
                    display: inline-block;
                }
                .ant-input-group-wrapper.data {
                    width: 100px;
                }
            }
        }
    }
}