  
.fensug{ 
    width:120px; 
    height:120px; 
    background:#fff; 
    border:9px #5576ac solid;
    margin:0px auto; 
    padding:5px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius: 50%;
    overflow:hidden;
    position:relative;
    box-sizing: content-box!important;    
}
.wavenum {
    width:120px;
    height:120px;
    overflow:hidden;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    display:table-cell;
    vertical-align:middle; 
    position:absolute; 
    left:5px; 
    top:5px; 
    z-index:5;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
   

}
b { 
    color:#fff;
    font-size:25px;
    text-align:center;
    display:block;
    position:relative;
    z-index:2;
    line-height:45px;
}
tt{ 
color:#fff; 
font-size:18px; 
text-align:center;
display:block;
position:relative;
z-index:2; 
font-weight:bold;
width:120px;
border-top:2px #fff solid;
margin:3px auto; 
line-height:35px;
}
    
    .waven { 
        width:120px;
        height:120px; 
        webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        background:#5576ac;
        overflow:hidden;
        position:relative;
        }
    
    .wave { 
        width:408px;
        height: 80%;
        position:absolute;
        left:0px; bottom:0;
        background: url(./../../asset/images/wave.png) no-repeat;
        animation: move_wave 1s linear infinite;
        -webkit-animation: move_wave 1s linear infinite;
    }
    
    
        
    @-webkit-keyframes move_wave {
        0% {
            -webkit-transform: translateX(0)
        }
        50% {
            -webkit-transform: translateX(-25%) 
        }
        100% {
            -webkit-transform: translateX(-50%) 
        }
    }
        
    @keyframes move_wave {
        0% {
            transform: translateX(0)
        }
        50% {
            transform: translateX(-25%) 
        }
        100% {
            transform: translateX(-50%) 
        }
    }
    