.home {
    height: 100%;
    width: 100%;
    position: relative;
    >header {
      height: 65px;
      background-color: #fff;
      width: 100%;
      float: left;
      padding: 5px 20px;
      position: fixed;
      overflow: hidden;
      z-index: 99;
      img {
        width: 200px;
      }
      span.name {
        color: blue;
        position: absolute;
        right: 180px;
        top: 50%;
        transform: translateY(-50%);
      }
      button {
        position: absolute;
        right: 100px;
        top: 50%;
        transform: translateY(-50%);
      }

    }
    .menu {
      position: fixed;
      width: 100%;
      top: 66px;
      z-index: 99;
    }
    .subPage {
      padding-top: 126px;
      height: 100%;
      box-sizing: border-box;
      padding-left: 200px;
    }
    .tree {
      position: absolute;
      top: 126px;
      padding-left: 20px;
      width: 200px;
      box-sizing: border-box;
      float: left;
      .ant-tree {
        font-size: 12px;
        max-height: 100%;
        overflow: auto;
      }
    }
}