.home {
    height: 100%;
    width: 100%;
    position: relative;
    header {
      height: 80px;
      background-color: #eee;
      width: 100%;
      float: left;
      span.name {
        color: blue;
        float: right;
        margin-right: 15px;
        margin-top: 40px;
        transform: translateY(-50%);
      }
      button {
        float: right;
        margin-right: 100px;
        margin-top: 40px;
        transform: translateY(-50%);
      }

    }
    .menu {
      float: left;
      width: 100%;
    }
    .subPage {
      padding-top: 126px;
      height: 100%;
      box-sizing: border-box;
      padding-left: 200px;
    }
    .tree {
      position: absolute;
      top: 126px;
      padding-left: 20px;
      width: 200px;
      box-sizing: border-box;
      float: left;
    }
}