.loginBox {

    .header {
        height: 65px;
        background-color: #fff;
        padding: 5px 20px;
        img {
            width: 200px;
        }
    }
    .main {
        position: relative;
        width: 1200px;
        margin: 0 auto;
        .loginInput{
            border: 1px solid #eee;
            width: 400px;
            height: 280px;
            padding: 32px;
            margin: 80px auto 0px;
            border-radius: 6px;
            box-sizing: border-box;
            background-color: #fafafa;
            h3 {
                text-align: center;
                font-size: 24px;
                font-weight: 600;
            }
            .ant-input-group-wrapper.ant-input-password {
                margin-top: 10px;
            }
            button {
                width: 100%;
                margin-top:30px;
                background-color: #ee4d2d;
                border-color: #ee4d2d;
            }
        }
    }
}
